<html>
    <head>
        <script src="/js/bootstrap.js"></script>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
    </head>
    <body>
        <h1>Listagem de categories</h1>

        <ul>
            {{#forEach categories}}
                <li>{{ id }} - {{ name }} - {{ created_at }}</li>
            {{/forEach}}
        </ul>
    </body>
</html>